{% extends "base.html" %}

{% block title %}Nuevo Empleado - Sistema de Reservas{% endblock %}

{% block content %}
<h2>Crear Nuevo Empleado</h2>

<form method="post" action="/salas/crear" class="form">
    <div class="form-group">
        <label for="nombre">Nombre sala:</label>
        <input type="text" id="nombre" name="nombre" required maxlength="100" placeholder="Ej: Andromeda">
    </div>

    <div class="form-group">
        <label for="capacidad">Email:</label>
        <input type="text" id="capacidad" name="capacidad" required placeholder="Ej: 23">
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Crear Sala</button>
        <a href="/salas" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
